<h1>Электронная библиотека</h1>
<div class="userButton" [ngSwitch]="activeUser">
    <ng-template  ngSwitchCase="admin" ><button (click)="togleUser(visitor)">Стать посетителем</button></ng-template>
    <ng-template  ngSwitchCase="visitor"><button (click)="togleUser(admin)">Стать админом</button></ng-template>
</div>
<div [ngSwitch]="activeUser">
    <ng-template ngSwitchCase="admin">
        <div class="adminButton">
            <button (click)="openFormModalAddBook()">Добавить книгу </button>
            <div [ngSwitch]="activeList" >
                <ng-template ngSwitchCase="takenList">
                    <button (click)="togleList(fullList)">Все книги</button>
                </ng-template>
                <ng-template ngSwitchCase="fullList">
                    <button (click)="togleList(takenList)">Книги у читателей</button>
                </ng-template>
            </div>
        </div>
    </ng-template>
</div>