<div class="modal-header">
    <h4 class="modal-title">Добавить книгу</h4>
  </div>
  <form [formGroup]="editBookForm" (ngSubmit)="submitForm()">
    <div class="modal-boy">
      <div class="container">
        <div class="form-group">
          <label for="username">Название</label>
          <input type="text" class="form-control" formControlName="name" plaseholder="dsdf" />
        </div>
        <div class="form-group">
          <label for="username">Автор</label>
          <input type="text" class="form-control" formControlName="author" />
        </div>
        <div class="form-group">
          <label for="username">Год</label>
          <input type="text" class="form-control" formControlName="release" />
        </div>
        <div class="form-group">
          <label for="username">Жанр</label>
          <input type="text" class="form-control" formControlName="genre" />
        </div>
        <div class="form-group">
          <label for="username">Количество</label>
          <input type="text" class="form-control" formControlName="numberOf" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" [disabled]="!editBookForm.valid">
        Добавить
      </button>
    </div>
  </form>
